#fixed-buy-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#fixed-buy-button-container .essence-btn {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#fixed-buy-button-container .essence-btn:hover {
  background-color: #333333;
}
/* stt.css */

.essence-btn {
  background-color: #000000 !important;
}

.essence-btn:hover,
.essence-btn:focus {
  color: #4a4a4a; /* Assuming $white-color is a variable in Sass; replace with actual color if necessary */
}
.benefits-section {
  display: flex;
  justify-content: space-around;
  background-color: #f9f9f9;
  padding: 20px;
  flex-wrap: wrap;
}

.benefit {
  text-align: center;
  padding: 20px;
  flex: 1 1 30%;
  max-width: 30%;
  box-sizing: border-box;
}

.benefit-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.benefit h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.benefit p {
  font-size: 16px;
  color: #888888;
}

@media (max-width: 768px) {
  .benefit {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
/* Style for the sticky bar */
.sticky-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 15px 0;
  border-radius: 3px;
  z-index: 1000; /* Ensures it stays on top */
  text-decoration: none; /* Remove underline from link */
}

.sticky-bar:hover {
  background-color: #000000; /* Darker background color on hover */
}

.buy-now-text {
  font-size: 18px;
}
.checkbox-list {
  display: flex;
  gap: 10px; /* Adjust spacing between checkboxes as needed */
  margin-top: 10px; /* Add margin for better spacing */
}

.checkbox-item {
  display: inline-block; /* Ensuring proper display */
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  text-align: center;
  transition: background-color 0.3s, color 0.3s; /* Adding transition for smooth effect */
}

.checkbox-item input[type="checkbox"] {
  display: none; /* Hiding the actual checkbox */
}

.checkbox-item:hover {
  text-emphasis-color: white;
  background: #1f1f1f; /* Hover background color */
}

.checkbox-item input[type="checkbox"]:checked + .checkbox-item {
  background: #000; /* Checked background color */
  color: #fff; /* Checked text color */
}
