#fixed-buy-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#fixed-buy-button-container .essence-btn {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#fixed-buy-button-container .essence-btn:hover {
  background-color: #333333;
}
/* stt.css */

.essence-btn {
  background-color: #000000 !important;
}

.essence-btn:hover,
.essence-btn:focus {
  color: #4a4a4a; /* Assuming $white-color is a variable in Sass; replace with actual color if necessary */
}
.benefits-section {
  display: flex;
  justify-content: space-around;
  background-color: #f9f9f9;
  padding: 20px;
  flex-wrap: wrap;
}

.benefit {
  text-align: center;
  padding: 20px;
  flex: 1 1 30%;
  max-width: 30%;
  box-sizing: border-box;
}

.benefit-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.benefit h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.benefit p {
  font-size: 16px;
  color: #888888;
}

@media (max-width: 768px) {
  .benefit {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
/* Style for the sticky bar */
.sticky-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  z-index: 1000; /* Ensures it stays on top */
  text-decoration: none; /* Remove underline from link */
}

.sticky-bar:hover {
  background-color: #444; /* Darker background color on hover */
}

.buy-now-text {
  font-size: 18px;
}
.stock-notice {
  margin-bottom: 20px;
}
.stock-notice .highlight {
  color: red;
}
.size-selector {
  display: flex;
  align-items: center;
}
.size-selector span {
  margin-right: 10px;
  font-weight: bold;
}
.size-selector label {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f9f9f9;
}
.size-selector input[type="radio"] {
  display: none;
}
.size-selector input[type="radio"]:checked + label {
  background-color: black;
  color: white;
  border: 1px solid black;
}
