/* Core Style CSS */
@import url("css/core-style.css");
@import url("style.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css");

@media (max-width: 991px) {
  /* Hide the menu icon and cart area */
  .classy-navbar-toggler,
  .cart-area {
    display: none !important;
  }
}

#notification-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.notification {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.notification img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.notification .content {
  flex: 1;
}

.notification .content h4 {
  margin: 0;
  font-size: 14px;
}

.notification .content p {
  margin: 5px 0;
  font-size: 12px;
  color: gray;
}

.notification .content .verified {
  display: flex;
  align-items: center;
}

.notification .content .verified img {
  width: 12px;
  height: auto;
  margin-left: 5px;
}

.notification .close-btn {
  cursor: pointer;
  margin-left: 10px;
}

.notification.show {
  opacity: 1;
}
